{% extends "app/company/base1.html" %}
{% block content %}
{% load static %} 
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        {% if msg %}

                            <h4 style="color:green">{{msg}}</h4>

                        {% endif %}
                        <h1 class="mt-4">Job List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'companyindex' pk=request.session.id %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Job List</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Job Name</th>
                                            <th>Position</th>
                                            <th>Location</th>
                                            <th>Vacancy</th>
                                            <th>Employement Status</th>
                                            <th>Experience</th>
                                            <th>Salary</th>
                                            <th>Application Deadline</th>
                                        </tr>
                                    </thead>
                                    {% if all_jobs %}
                                    <tbody>
                                        {% for i in all_jobs %}
                                        <tr>
                                            <td>{{i.jobname}}</td>
                                            <td>{{i.job_position}}</td>
                                            <td>{{i.location}}</td>
                                            <td>{{i.vacancy}}</td>
                                            <td>{{i.employement_status}}</td>
                                            <td>{{i.experience}}</td>
                                            <td>{{i.salary}}</td>
                                            <td>{{i.apply_deadline}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock %}