{% extends "app/company/base1.html" %}
{% block content %}
{% load static %} 
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        {% if msg %}

                            <h4 style="color:green">{{msg}}</h4>

                        {% endif %}
                        <h1 class="mt-4">Job List</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'companyindex' pk=request.session.id %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Job List</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Applicant DataTable
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Applicant Name</th>
                                            <th>Job Name</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Address</th>
                                            <th>Portfolio</th>
                                            <th>University</th>
                                            <th>Major</th>
                                            <th>Skills</th>
                                            <th>CV</th>
                                        </tr>
                                    </thead>
                                    {% if job %}
                                    <tbody>
                                        {% for i in job %}
                                        <tr>
                                            <td>{{i.name}}</td>
                                            <td>{{i.jobname}}</td>
                                            <td>{{i.email}}</td>
                                            <td>{{i.contact}}</td>
                                            <td>{{i.address}}</td>
                                            <td>{{i.portfolio}}</td>
                                            <td>{{i.uni_name}}</td>
                                            <td>{{i.major}}</td>
                                            <td>{{i.skill}}</td>
                                            <td>{{i.cv}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock %}